Port 10022

HostKey /etc/ssh/ssh_host_rsa_key

LogLevel INFO

PermitRootLogin no

PubkeyAuthentication yes
AuthorizedKeysFile %h/.ssh/authorized_keys

HostbasedAuthentication no
PasswordAuthentication no
PermitEmptyPasswords no
ChallengeResponseAuthentication no

AllowAgentForwarding no
AllowTcpForwarding local
GatewayPorts no
X11Forwarding no
PermitTTY no
PermitTunnel yes
PrintMotd no

UseDNS no
TCPKeepAlive yes

# ChrootDirectory /var/chroot
ForceCommand echo 'This service can be used only as proxy'
